@import '../variables.scss';

.app-container {
    min-height: 98vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    .header-container {
        height: 70px;
    }
    .body-container {
        display: flex;
        height: calc( 98vh - 175px );
        padding: $section-padding-bg;
    }
    .footer-container {
        height: 70px;
    }
}

/* Basic styling */
.button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  background-color: #e0e0e0; /* Light grey background */
  color: #3A3D3D; /* Dark grey text */
  cursor: pointer;
  outline: none;
  position: relative;
  transition: all 0.3s ease-in-out;
}

/* Neumorphic styling */
.button {
  box-shadow:  5px 5px 8px #CBCBCB, 
             -5px -5px 8px #E9E9E9;
}

/* Pressed effect on active */
.button:active {
  box-shadow: inset 4px 4px 8px #b8b8b8, 
              inset -4px -4px 8px #D0CECE;
}

/* Hover effect */
.button:hover {
  background-color: #dcdcdc;
}

/* Compatibility */
/* Ensure no unexpected focus outline appears in Firefox */
.button::-moz-focus-inner {
  border: 0;
}

/* Ensuring that tap-highlight color is transparent in mobile browsers */
.button {
  -webkit-tap-highlight-color: transparent;
}

/* Handling overflow for MS Edge and IE11 */
.button {
  overflow: visible;
}